 <div class="row">
        <div class="col" id="games_table" style="padding-top: 4%;">
            <h2>Recent Games</h2>
            {{#if hasPlayerRecs}}
            <table class="table table-striped" id="game-played-table">
                <thead>
                    <tr>
                    <th scope="col">Score</th>
                    <th scope="col">GameID</th>
                    <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each playerRecs}}
                        <tr>
                            <td>{{score}}</td>
                            <td><a href="/user/match/{{gameID}}">{{gameID}}</a></td>
                            <td>{{playedOn}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
            <!---nav aria-label="Page navigation example">
            <ul class="pagination" id="gameRecsPagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
            </nav--->
            {{else}}
                <p>You have not completed a game yet!!!</p>
            {{/if}}
        </div>
    </div>