<div class="container">
    <div class="row">
        <div class="col" id="title_registration">
            <h1>Qwirkle</h1>
        </div>
    </div>

    <form>
        <div class="form-group row">
            <label for="inputUsername" class="col-sm-2 col-form-label">User Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputUsername" name="userName" placeholder="Username" required value={{populate_fields.username}}>
                <small id="passwordHelpBlock" class="form-text text-muted">
                    Your username must be 6-12 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                </small>
                {{#if errors.username}}<div id="username-error">{{errors.username}}</div>{{/if}}
            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail" name= "email" placeholder="Email" required value={{populate_fields.email}}>
                {{#if errors.email}}<div id="email-error">{{errors.email}}</div>{{/if}}
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password" required>
                <small id="passwordHelpBlock" class="form-text text-muted">
                    Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                </small>
                {{#if errors.password}}<div id="password-error">{{errors.password}}</div>{{/if}}
            </div>
        </div>
        <div class="form-group row">
            <label for="verfiyPassword" class="col-sm-2 col-form-label">Verify Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="verfiyPassword" name="checkPassword" placeholder="Verify Password" required>
                <small id="verifyPasswordHelpBlock" class="form-text text-muted">
                    Please re-enter your password for verfication
                </small>
                {{#if errors.verfiyPassword}}<div id="check-password-error">{{errors.verfiyPassword}}</div>{{/if}}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>
    </form>
</div>